body, html{
  height: 100%;
}

.home-header {
  background-color: $deep;
  height: 100%;
  color: #fff;
}
.top-line {
  position: absolute;
  width: 100%;
  height: $size;
  top: 0;
  border-bottom: 1px solid rgba(#fff, $border-opacity);
  z-index: 10;
  background-color: $deep;
  display: flex;
  align-items: center;
}
.logo {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .5em;
  text-decoration: none;
  transition: all .5s ease;
  &:hover, &:focus {
    color: $accent;
  }
}
.logo__img-wrapper {
  width: $size;
  height: $size;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button-container {
  flex: 0 0 200px;
  text-align: right;
  position: relative;
  height: $size;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: $size;
  height: $size;
  background-color: #3c3c3c;
  background-image: url(../images/dist/bars-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease .5s;
  &:hover {
    background-color: $accent;
  }
}

.top-line__decoration {
  flex: 1 0 0;
  text-align: center;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 1px;
    width: 50px;
    display: inline-block;
    opacity: $border-opacity*2;
    top: 2px;
  }  
}

.top-line__contacts {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .4em;
  display: flex;
  align-items: center;
  color: rgba(#fff, .5)
}
.top-line__contacts span {
  display: inline-block;
}

.top-line__separator {
  width: 1px;
  height: 20px;
  background-color: rgba(#fff, $border-opacity*2);
  margin: 0 20px;
}
.top-line__numbers,
.top-line__text {
  font-family: roboto-vh, sans-serif;
  margin-left: 7px;
  a {
    color: $accent;
  }
}
.top-line__numbers {
  color: $accent;
}
.top-line__text {
  color: rgba(#fff, .75);
}